<launch>
  <node pkg="ros_web_service" type="totwistodom_service.py" name="twist_publisher" args="" required = "true">
        <param name="robot_prefix" value="robot_"/>
        <param name="num_robots" value="4"/>
        <param name="port" value="8082"/>
        <param name="data_uri" value="/twist"/>
  </node>

  <node pkg="ros_web_service" type="totwistodom_service.py" name="twist_publisher_global" args="" required = "true">
        <param name="robot_prefix" value="robot_"/>
        <param name="num_robots" value="4"/>
        <param name="odomname" value="/base_pose_ground_truth"/>
        <param name="port" value="8084"/>
        <param name="data_uri" value="/twist"/>
  </node>

  <node pkg="mjpeg_server" type="mjpeg_server" name="video_server">
        <param name="port" value="8081"/>
  </node>
  <node pkg="stage_ros" type="stageros" name="simulation" args="$(env HOME)/catkin_ws/src/willow-erratic.world" respawn="true">
        <param name="base_watchdog_timeout" value="50"/>
  </node>
</launch>

