<launch>
  <node pkg="ros_web_service" type="web_sink_node" name="addressTolatlong" required="true">
    <param name="base_url" value="http://rpc.geocoder.us/service/csv?address="/>
    <param name="data_topic" value="string"/>
    <param name="data_type" value="std_msgs/String"/>
    <remap from="request" to="say" />
  </node>

  <node pkg="rostopic" type="rostopic" name="talker" args="pub say std_msgs/String '68+Willow+Road+Menlo+Park,+CA+94025' -r .1" output="screen" />

</launch>

